# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/
htmlcov/

# Environments
.env
.venv
env/
venv/

# Editors & IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# OS artifacts
.DS_Store
Thumbs.db
